{% extends "global/base.html" %}

{% block title %}Inicial |{% endblock title %}

{% block content %}

<header>
    <a href="#" class="logo">PlayON</a>

    <ul class="navlist">
        <li><a href="#">Inicial</a></li>
        <li><a href="#">Sobre nós</a></li>
        <li><a href="#">Games</a></li>
        <li><a href="#">Criação</a></li>
        <li><a href="#">Contato</a></li>
    </ul>

    <div class="bx bx-menu" id="menu-icon"></div>
</header>

<section class="hero">

    <div class="animation-movement" style="--i:5"></div>
    <div class="animation-movement" style="--i:4"></div></div>
    <div class="animation-movement" style="--i:3"></div></div>
    <div class="animation-movement" style="--i:1"></div></div>
    <div class="animation-movement" style="--i:7"></div></div>
    <div class="animation-movement" style="--i:2"></div></div>
    <div class="animation-movement" style="--i:19"></div></div>
    <div class="animation-movement" style="--i:16"></div></div>
    <div class="animation-movement" style="--i:18"></div></div>
    <div class="animation-movement" style="--i:10"></div></div>
    <div class="animation-movement" style="--i:14"></div></div>

</section>

{% endblock content %}