{% extends "global/base.html" %}

{% block title %}Inicial |{% endblock title %}


{% load static %}

{% block content %}



<section class="slider">
    <div class="slider-content">

        <input type="radio" name="btn-radio" id="radio1">
        <input type="radio" name="btn-radio" id="radio2">
        <input type="radio" name="btn-radio" id="radio3">

        <div class="slider-box first">
            <img src="{% static "inicial\img\pixelart1-desktop.jpeg" %}" alt="Slide 1">
            <img class="img-mobile" src="{% static "inicial\img\pixelart1-mobile.jpeg" %}" alt=" Slide 1">
        </div>

        <div class="slider-box">
            <img src="{% static "inicial\img\pixelart1-desktop.jpeg" %}" alt="Slide 2">
            <img class="img-mobile"  src="{% static "inicial\img\pixelart1-mobile.jpeg" %}" alt=" Slide 2">
        </div>
        <div class="slider-box">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTUER9IoskeizXNP5ZhefsnzO0x9Q-DBiGc2A&usqp=CAU" alt="Slide 3">
            <img class="img-mobile"  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTUER9IoskeizXNP5ZhefsnzO0x9Q-DBiGc2A&usqp=CAU" alt=" Slide 3">
        </div>

        <div class="nav-auto">
            <div class="auto-btn1"></div>
            <div class="auto-btn2"></div>
            <div class="auto-btn3"></div>
        </div>
        <div class="nav-manual">
            <label for="radio1" class="manual-btn"></label>
            <label for="radio1" class="manual-btn"></label>
            <label for="radio1" class="manual-btn"></label>
        </div>
    </div>



</section>


{% endblock content %}